# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/

# Logs
logs/*
!logs/.gitkeep

# Reports
reports/*
!reports/.gitkeep

# Build artifacts
build/
dist/
*.zip
*.tar.gz

# Coverage
htmlcov/
.coverage

# IDE
.vscode/
.idea/

# Terraform
*.tfstate
*.tfstate.backup
.terraform/

# Secrets
*.pem
*.key
.env

